$font: "Robotoxx", sans-serif;
$primary: #ea1c04;
$backgroundPrimary: #f1f1f1;
$textPrimary: #333;
$textBold: #010101;
$textBland: #505050;
$textColored: #9fc0c4;
$textColoredDarker: #7f9b9d;
$textDark: #707070;
$textTitle: #333333;
$textContent: #838383;
$navbarHeight: 80px;
$navbarHeightMobile: 60px;
$breakPointMedium: 1200px;
$gray: #ededed;
$homeHeroHeight: 518px;
$borderColor: #cccccc;
$yellow: #dbc570;
