@import "../variable.scss";
.header {
    width: 100vw;
    background-color: $backgroundPrimary;
    padding-bottom: 12px;
    &__container {
        display: flex;

        &__logo {
            width: calc(100vw * 170 / 1920);
        }

        &__search {
            flex: 1;
            margin: auto 15px;
            &__form {
                position: relative;
                display: flex;
                align-items: center;
                &__input {
                    width: 100%;
                    border-radius: 50px;
                    padding: 8px 12px;
                    border: 0px solid;
                }

                &__button {
                    position: absolute;
                    right: 0px;
                    border-top-right-radius: 50px;
                    border-bottom-right-radius: 50px;
                    background-color: $primary;
                    border: none;
                    width: 40px;
                    height: 100%;

                    &:hover {
                        & svg {
                            color: $textPrimary;
                        }
                    }
                    & svg {
                        color: #fff;
                        font-size: 16px;
                        transition: all 0.5s;
                    }
                }
            }
        }

        &__feature {
            flex: 1;
            padding: 10px 0;
            &__list {
                display: flex;
                align-items: center;
                justify-content: space-evenly;

                &__item {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 12px;
                    font-weight: bold;
                    & svg {
                        margin-right: 8px;
                        font-size: 24px;
                    }
                }
            }
        }
    }

    &__function {
        display: flex;
        &__categories {
            position: relative;
            &__content {
                display: flex;
                background-color: #505050;
                color: #fff;
                border-radius: 8px;
                padding: 12px;
                text-align: center;

                & svg {
                    margin-right: 8px;
                }

                &__text {
                    margin: 0;
                    cursor: pointer;
                }
            }

            &__menu {
                position: absolute;
                left: 0;
                width: 100%;
                &__list {
                    margin-top: 12px;
                    padding: 12px 0;
                    background-color: #fff;
                    border-radius: 8px;

                    &__item {
                        position: relative;
                        padding: 8px 4px;
                        width: 100%;
                        background-color: #fff;
                        cursor: pointer;
                        transition: all 0.5s;

                        &:hover {
                            background-color: $primary;
                            color: #fff;
                            &::after {
                                transform: scale(1);
                            }

                            .header__function__categories__menu__list__item__submenu {
                                transform: scale(1);
                            }
                        }

                        &__submenu {
                            position: absolute;
                            display: flex;
                            flex-wrap: wrap;
                            width: 920px;
                            left: 100%;
                            top: 0;
                            margin-left: 12px;
                            height: 500px;
                            background-color: #fff;
                            color: #000;
                            gap: 20px;
                            transform: scale(0);
                            transition: all 0.5s;
                            transform-origin: top left;
                            &__subcontent {
                                padding: 8px 15px;

                                &__title {
                                    color: #ea1c04;
                                    font-weight: bold;
                                    font-size: 15px;
                                }

                                &__list {
                                    display: flex;
                                    flex-wrap: wrap;
                                    flex-direction: column;
                                    &__item {
                                        font-size: 12px;
                                        padding: 4px 0;
                                    }
                                }
                            }
                        }
                        &::after {
                            content: "";
                            transform: scale(0);
                            right: -35px;
                            border-top: 17px solid transparent;
                            border-left: 17px solid #ea1c04;
                            border-bottom: 17px solid transparent;
                            border-right: 18px solid transparent;
                            position: absolute;
                            transform-origin: left;
                            top: 0;
                            margin: auto;
                            transition: all 0.5s;
                        }

                        &__content {
                            display: flex;
                            width: max-content;
                            align-items: center;
                            justify-content: space-evenly;
                            width: inherit;
                            & svg {
                                font-size: 20px;
                            }
                            &__text {
                                font-weight: bold;
                                font-size: 13px;
                            }
                        }
                    }
                }
            }
        }

        &__guide {
            display: flex;
            flex: 1;

            & svg {
                margin-right: 8px;
            }
            &__item {
                flex: 1;
                margin-left: 8px;
                padding: 8px;
                border: 1px solid #505050;
                color: $textPrimary;
                border-radius: 4px;
                text-align: center;
                transition: all 0.5s;
                &:hover {
                    background-color: $primary;
                    color: #fff;
                }
            }
        }
    }
}
