.banner__swiper {
  width: 100vw;
  position: relative;
}
.banner__wrapper__slide__image {
  width: 100%;
}
.banner__wrapper__button {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 50%;
  bottom: 50%;
  transform: translateY(-50%);
  width: 50px;
  height: 50px;
  z-index: 1;
  border-radius: 50%;
  font-size: 24px;
  background-color: #fff;
  color: #000;
  cursor: pointer;
}
.banner__wrapper__button svg {
  width: 100%;
}
.banner__wrapper__button.swiper-button-next {
  right: 50px;
}
.banner__wrapper__button.swiper-button-prev {
  left: 50px;
}
.banner__bottom {
  padding: 16px;
}
.banner__bottom__container {
  display: flex;
  width: 100%;
  gap: 12px;
}
.banner__bottom__container__item {
  flex: 1;
  width: 100%;
}
.banner__bottom__container__item__image {
  width: 100%;
}
