.featured {
  padding: 20px 0;
}
.featured__container__header {
  display: flex;
  justify-content: space-between;
  background-color: #ea1c04;
  color: #fff;
  text-align: center;
  padding: 12px 20px;
  align-items: center;
}
.featured__container__header__title {
  margin: 0;
  font-weight: bold;
  font-size: 22px;
}
.featured__container__header__more {
  font-size: 14px;
  font-weight: bold;
  transition: all 0.25s;
}
.featured__container__header__more:hover {
  color: #000;
}
.featured__container__wrapper__list {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}
.featured__container__wrapper__list__item {
  flex: 1;
  border: 1px solid #ccc;
  transition: all 0.5s;
  min-width: 19%;
}
.featured__container__wrapper__list__item:hover {
  border: 1px solid #f1df8d;
  color: #000;
}
.featured__container__wrapper__list__item img {
  width: 100%;
}
.featured__container__wrapper__list__item__content {
  padding: 12px 20px;
}
.featured__container__wrapper__list__item__title {
  font-size: 16px;
  font-weight: bold;
  text-transform: capitalize;
}
.featured__container__wrapper__list__item__price {
  font-size: 20px;
  font-weight: bold;
  color: #ea1c04;
}
